* {
    font-family: 'Figtree', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 18px;
}

h2 {
    padding: 30px 0px 20px 20px;
    font-size: 18px;
}

h3 {
    font-size: 18px;
}